<div class="row bg-white mb-3 mx-1">
  <div class="col-md-6 pt-2">
    <% if book.picture? %>
      <%= link_to image_tag(book.picture.url, alt: "Card image cap",
        class: "img-fluid d-block w-100 img-thumbnail"), book_path(book) %>
    <% else %>
      <%= link_to image_tag("https://307a0e78.vws.vegacdn.vn/view/v2/image/img.book/0/0/0/18782.jpg",
      alt: "Card image cap", class: "img-fluid d-block w-100 img-thumbnail"), book_path(book) %>
    <% end %>
  </div>
  <div class="col-md-6 pl-0">
    <h6 class="b-t-card pt-3 text-primary">
      <%= link_to book.title, book_path(book) %> - 
      <%= link_to book.author_name, author_path(book.author_id) %>
    </h6>
    <p class="b-d-card mb-2"><%= book.describe %></p>
    <div class="row">
      <p class="col-md-4 pr-0 btn-follow-<%= book.id %>"> 
        <% if user_signed_in? && followed?(book.id) %>
          <%= render partial: "follows/unfollow", locals: {book: book} %>
        <% else %>
          <%= render partial: "follows/follow", locals: {book: book} %>
        <% end %>
      </p>
      <p class="col-md-4 pr-0 btn-like-<%= book.id %>">
        <% if user_signed_in? && liked?(book.id) %>
          <%= render partial: "likes/unlike", locals: {book: book} %>
        <% else %>
          <%= render partial: "likes/like", locals: {book: book} %>
        <% end %>
      </p>
      <p class="col-md-4 pr-0"> 
        <%= book.borrows.length %>
        <% if book.status %>
          <%= link_to content_tag(:i, "", class: "fa fa-hand-paper-o"),
            new_book_borrow_path(book), remote: true,
            data: {toggle: "modal", target: "#myModal"}, rel: "tooltip", title: t("books.book.borrow") %>
        <% else %>
          <%= content_tag :i, "", class: "fa fa-hand-paper-o", rel: "tooltip",
            title: t("books.book.borrowed") %>
        <% end %>
      </p>
    </div>
  </div>
</div>
