<% provide(:title, t(".home")) %>
<div class="col-md-12">
  <%= image_tag "ban-sach-02.jpg", class: "post" %>
</div>
<div class="col-md-3 my-2 bg-white">
  <h3 class="col-md-12"><%= t ".news" %></h3>
  <%= image_tag "bk2.jpg", class: "bg-white" %>
</div>
<div class="col-md-9 my-2 px-1 row justify-content-md-center">
  <h3 class="col-md-12 ml-5"><%= t ".o_books" %></h3>
  <% @ost_books.each do |book| %>
    <div class="col-md-6 row">
      <%= render partial: "book_card", locals: {book: book} %>
    </div>
  <% end %>
</div>
<div class="row col-md-12">
  <h3 class="col-md-12"><%= t ".n_books" %></h3>
  <% @new_books.each do |book| %>
    <div class="col-md-2">
      <%= render book %>
    </div>
  <% end %>
</div>
<div class="row col-md-12">
  <h3 class="col-md-12"><%= t ".mb_books" %></h3>
  <% @br_books.each do |book| %>
    <div class="col-md-2">
      <%= render book %>
    </div>
  <% end %>
</div>
