<% provide(:title, t(".log_in")) %>
  <div class="col-md-5 border border-primary rounded my-md-5">
    <div class="col-md-12">
      <h2 class="text-center my-md-3"><%= t(".log_in") %></h2>
    </div>
    <%= form_for(:session, url: log_in_path) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br>
      <%= f.submit t(".log_in"), class: "btn btn-primary" %>
    <% end %>
    <p><%= t(".new_user") %><%= link_to t(".sign_up_now"), sign_up_path %></p>
  </div>
