<% if authors.any? %>
  <% serial_number params[:page].to_i, Settings.pages.per_ctg %>
  <% authors.each.with_index do |aut, i| %>
    <tr>
      <td class="text-center"><%= @idx + i+1 %></td>
      <td><%= link_to aut.name, admin_author_path(aut), class: "text-dark" %></td>
      <td class="text-center"><%= aut.books.length %></td>
      <td class="text-center"><%= aut.birth_year %></td>
      <td><%= aut.country %></td>
      <td class="text-center">
        <%= link_to content_tag(:i, t(".edit"), class: "fa fa-edit"),
          edit_admin_author_path(aut) %>
        <% unless aut.books.any? %>
          <%= link_to content_tag(:i, t(".delete"), class: "fa fa-trash-o"),
            admin_author_path(aut), method: :delete,
            data: {confirm: t("delete_confirm")}, class: "text-danger" %>
        <% end %>
      </td>
    </tr> 
  <% end %>
<% else %>
  <tr class="d-flex">
    <td class="col-12 text-center"><%= t ".no_result" %></td>
  </tr>
<% end %>
