<% if publishers.any? %>
  <% serial_number params[:page].to_i, Settings.pages.per_ctg %>
  <% publishers.each.with_index do |pub, i| %>
    <tr>
      <td class="text-center"><%= @idx + i+1 %></td>
      <td><%= link_to pub.name, admin_publisher_path(pub), class: "text-dark" %></td>
      <td class="text-center"><%= pub.books.length %></td>
      <td><%= pub.address %></td>
      <td class="text-center"><%= pub.phone %></td>
      <td><%= pub.info %></td>
      <td>
        <%= link_to content_tag(:i, t(".edit"), class: "fa fa-edit"),
          edit_admin_publisher_path(pub) %>
        <% unless pub.books.any? %>
          <%= link_to content_tag(:i, t(".delete"), class: "fa fa-trash-o"),
            admin_publisher_path(pub), method: :delete,
            data: {confirm: t("delete_confirm")}, class: "text-danger" %>
        <% end %>
      </td>
    </tr> 
  <% end %>
<% else %>
  <tr class="d-flex">
    <td class="col-12 text-center"><%= t ".no_result" %></td>
  </tr>
<% end %>
