<% provide(:title, t(".manage_user")) %>
<nav aria-label="breadcrumb" class="col-md-12">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to t("home"), admin_root_path %></li>
    <li class="breadcrumb-item"><%= link_to t(".users"), admin_users_path %></li></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>
<div class="col-md-10">
  <%= form_tag url_for, method: :get, id: "search-users" do %>
    <div class="form-group">
      <div class="input-group">
        <h5><%= label_tag :search, t(".list_user"), class: "mx-2" %></h5>
        <%= text_field_tag :search, params[:search], class: "form-control" %>
        <%= link_to t(".all"), "", id: "_all", class: "btn mx-1" %>
        <%= link_to t(".users"), "", id: "_users", class: "btn mx-1" %>
        <%= link_to t(".managers"), "", id: "_managers", class: "btn mx-1" %>
        <%= link_to t(".admins"), "", id: "_admins", class: "btn mx-1" %>
        <%= hidden_field_tag :role, params[:role], id: "_role" %>
      </div>
    </div>
  <% end %>
</div>
<div class="col-md-2">
  <%= link_to t(".create_user"), new_admin_user_path, class: "btn" %>
</div>
<div class="col-md-12">
  <table class="table table-bordered table-hover bg-primary">
    <thead>
      <tr class="d-flex text-center">
        <th class="col-3"><%= t(".name") %></th>
        <th class="col-4"><%= t(".email") %></th>
        <th class="col-2"><%= t(".joined") %></th>
        <th class="col-1"><%= t(".borowed") %></th>
        <th class="col-1"><%= t(".borowing") %></th>
        <th class="col-1"><%= t(".return") %></th>
      </tr>
    </thead>
    <tbody class="bg-white">
      <%= render @users %>
    </tbody>
  </table>
  <div id="pagination">
  <%= paginate @users, remote:true, window: 2, theme: "twitter-bootstrap-4",
    pagination_class: "justify-content-center", id: "pagination" %>
  </div>
</div>
