<% provide(:title, @user.name) %>
<div class="row my-3">
  <div class="col-md-12 border border-primary rounded row">
    <div class="col-md-3">
      <img class="img-fluid d-block" src="https://i.pinimg.com/originals/7f/4c/cb/7f4ccb7bb1d21c848bb58b2911a6db09.jpg">
    </div>
    <div  class="col-md-9">
      <h2 class="my-1"><%= @user.name %></h2>
      <h3 class="my-1"><%= @user.email %></h3>
      <%= link_to t(".follow"), "", class: "btn" %>
      <% if current_user.admin? %>
        <div id="role" class="dropdown">
          <%= button_tag @user.role, class: "btn btn-primary dropdown-toggle",
            data: {toggle: "dropdown"} %>
          <div class="dropdown-menu">
            <%= link_to t(".user"), admin_user_path(params.permit().merge(role: :user)),
              method: :put, remote:true, class: "dropdown-item" %>
            <%= link_to t(".manager"), admin_user_path(params.permit().merge(role: :manager)),
              method: :put, remote:true, class: "dropdown-item" %>
          </div>
        </div>
      <% end %>
      <div class="col-md-12 row">
        <%= link_to t(".folowing"), "", class: "mx-2" %>
        <%= link_to t(".folower"), "", class: "mx-2" %>
        <%= link_to t(".b_following"), "", class: "mx-2" %>
        <%= link_to t(".a_following"), "", class: "mx-2" %>
        <%= link_to t(".like"), "", class: "mx-2" %>
        <%= link_to t(".borrowed"), "", class: "mx-2" %>
        <%= link_to t(".borrowing"), "", class: "mx-2" %>
        <%= link_to t(".return_late"), "", class: "mx-2" %>
      </div>
    </div>
  </div>
</div>
