<div class="row my-3">
  <div class="col-md-12 border border-primary rounded row">
    <div class="col-md-3">
      <img class="img-fluid d-block" src="https://i.pinimg.com/originals/7f/4c/cb/7f4ccb7bb1d21c848bb58b2911a6db09.jpg">
    </div>
    <div  class="col-md-9">
      <h2 class="my-1"><%= @user.name %></h2>
      <h3 class="my-1"><%= @user.email %></h3>
      <%= link_to "Assign permission", "edit_admin_user_path(@user)",
        class: "" %>
      <%= link_to "Assign permission", "edit_admin_user_path(@user)",
        class: "" %>
      <div class="col-md-12 row">
        <%= link_to "Folowing", "#", class: "mx-2" %>
        <%= link_to "Folower", "#", class: "mx-2" %>
        <%= link_to "Books following", "#", class: "mx-2" %>
        <%= link_to "Authors following", "#", class: "mx-2" %>
        <%= link_to "Like", "#", class: "mx-2" %>
        <%= link_to "Borrowed", "#", class: "mx-2" %>
        <%= link_to "Borrowing", "#", class: "mx-2" %>
        <%= link_to "Return late", "#", class: "mx-2" %>
      </div>
    </div>
  </div>
</div>
